{% extends '::base.html.twig' %}

{% block body %}
  The current temperatures of {{ city|capitalize }}:

  <ul>
    {% for temperature in temperatures %}
      <li>{{ temperature.celsius }}</li>
    {% else %}
      <li>No entries yet for this city</li>
    {% endfor %}
  <ul>
{% endblock %}
