{% extends '::base.html.twig' %}

{% block body %}
    Checks:

    {% for r in checkResults %}

        <h1>{{ r.service }}</h1>

        {% if r.isFailed %}
            Check Failed, reason: "{{ r.reason }}"
        {% elseif r.isSuccess %}
            Check Succeeded
        {% endif %}

        <hr/>

    {% endfor %}
{% endblock %}